.margin {
    margin: .3rem;

    div {
        .color {
            a {
                color: black;
                text-decoration: none;

                .h5Centrado {
                    text-align: center;
                    font-size: 3rem;
                    font-weight: bold;
                }
            }
        }
    }
}

/*--------propiedades para hacer una transformacion en las img------------*/
.zoom {
    overflow: hidden;
    transition: all 500ms ease;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
}

.zoom img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
}

.zoom img:hover {
    transform: scale(1.2);
    cursor: pointer;
}