/*info abajo del carrousel*/
.infoContainer {
    display: flex;
    justify-content: center;

    .info {
        display: flex;
        align-items: center;

        div {
            .negrita {
                font-size: 2rem;
                padding-top: 3rem;
                font-weight: bold;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            }

            .suave {
                font-size: 1.3rem;
                padding-bottom: 3rem;
            }

            img {
                width: 5rem;
                margin: 1rem;
            }
        }
    }
}
