/*---------------Sobre nosotros-----------------*/

.row {
    .sobreTit {
        h2 {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .sobreParrafo {
        p {
            font-size: 1.2rem;
        }
    }
}
