/*componentes*/
@import "./componentes/reset";
@import "./componentes/header";
@import "./componentes/carrousel";
@import "./componentes/infoindex";
@import "./componentes/cards";
@import "./componentes/newsletter";
@import "./componentes/sobrenosotros";
@import "./componentes/footer";
/*BASE*/
@import "./base/listas";
/*Solo pase de css a scss la pagina de index, que fue lo que pedian en el desafio, que se lo hagamos a un solo archivo*/
/*y no use mas variables o listas porque no veo la necesidad de usar muchas al tener que hacerlo en una sola pagina, ya se de que manera usarlas*/


/*-----------Formulario con bootstrap--------------*/
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.columna h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/*--------------------Catalogo--------------------*/
.contac{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    padding: 1rem;
    margin: 3rem;
}
.anchoFotos div{
    display: flex;
    justify-content: center;
}
.anchoFotos div div{
    width: 90%;
    margin-top: 2rem;
}
.talleycompra{
    display: flex;
    justify-content: center;
    align-items: center;
}
.talleycompra a input{
    padding: .8rem;
    border-radius: 3rem;
    font-size: 1.5rem;
}
.talleycompra select {
    margin: 1rem;
    padding: .5rem;
    
}
.separador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*--------------------------PAGINA DE CONTACTOS-------------------------------------*/
.contacContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contac {
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 0 6rem 0;
}

.datos li {
    display: flex;
    padding: .5rem;
    font-size: 1.5rem;
}

.subtA {
    font-size: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.mapa {
    width: 50%;
}

/*----------------------ENVIOS---------------------------*/
.bgColor{
    background-color: #000;
    padding: 2rem;
}
.envios {
    text-align: center;
    font-size: 60px;
    padding: .5em;
    margin: 1em;
}

.contCarteles{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.carteles {
    font-size: 100px;
    background-color: #85C1E9;
    display: inline-block;
    height: 130px;
    border: 10px double #1F618D;
    margin: 50px 30px;
    box-shadow: 20px 20px 10px 10px #17202A;
}
.letras{
    padding-top:1em;
    font-weight: bold;
}

article p {
    font-size: 30px;
}








/*-------------------media query-movil-------------------*/

@media only screen and (max-width:599px) {
    .contac{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        padding: 1rem;
        margin: 1rem;
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .infoContainer .info{
        display: flex;
        padding: 1rem;
    }
    .talleycompra{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /*trabajo sobre el logo y el header para ponerlos en columna*/
    .container-fluid{
        display: flex;
        flex-direction: column;
    }
    .altura div img {
        height: 25rem;
    }
    /*Trabajo sobre el footer para que quede todo en columna*/
    .footer .row .red a{
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }
    .footer .row .red{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /*Mapa de google*/
    .mapa {
        width: 90%;
    }
    
    .cajaMedidas img{
        width: 80%;
    }
    
}