/*--------------Footer------------*/

.footer {
    margin-top: 5rem;
    background-color: #000;

    img {
        width: 3rem;
    }


    p {
        color: #fff;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}
