div {
    .widthLogo {
        a {
            img {
                width: 10rem;
                border-radius: 50%;
            }
        }
    }

    .header {
        border-radius: .5rem;
        margin: .5rem;
        font-size: 1.2rem;
    }

    form {
        .lupita {
            img {
                width: 1.5rem;
            }
        }
    }
}


